<!DOCTYPE html>
<html>
  <head>
    <title>Fortunepower|| Paid Upvoting Bot</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Paid Upvoting Bot">
    <meta name="author" content="Fortune Chibuike CTO Cryptonafrica & CEO zonia">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
